
<div ng-controller="ProjectController">
        <h2>AngularJS CRUD Operations with WebAPI</h2>

        <h3>List of Projects</h3>

        <table ng-cloak class="table table-bordered">
            <thead>
                <tr>
                    <th style="display: none;">ID</th>
                    <th>ProjectName</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="items in projects">
                    <td hidden="hidden">{{items.Id}}</td>
                    <td>{{items.projectName}}</td>
                    <td>
                   <button ng-model="$scope.projects"  class="btn btn-primary"
                   ng-click="edit(Project[$index])">Edit</button>
                   <button ng-click="delete($index)" class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            </tbody>
        <!--    <tfoot>
                <tr>
                    <td colspan="6">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>Total :</td>
                    <td></td>
                    <td><label ng-bind="total() |
                    currency:'&#8377;':2"></label></td>
                    <td></td>
                </tr>
            </tfoot>-->
        </table>
        <br />
        <div style="border-top: solid 2px #282828; width: 430px; height: 10px"> </div>

        <div ng-show="Project.Id != '' ">
            <div>
                <h2>Update Projects</h2>
            </div>
            <div hidden="hidden">
                <label for="id">Id</label>
                <input type="text" data-ng-model="Project.Id" class="form-control" />
            </div>
            <div>
                <label for="projectName" class="control-label">ProjectName</label>
                <input type="text" data-ng-model="Project.projectName" class="form-control col-md-6" />
            </div>


            <br />
            <div>
                <button data-ng-click="update()" class="btn btn-primary">Update</button>
                <button data-ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
        </div>

        <div ng-hide="Project.Id != '' ">
            <div>
                <h2>Add New Projects</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                <label for="projectName" class="control-label">ProjectName</label>
                </div>
                <div class="col-md-6">
                <input type="text" data-ng-model="Project.projectName" class="form-control " />
                </div>
            </div>


            <br />
            <div>
                <button data-ng-click="save()" class="btn btn-primary">Save</button>
                <button data-ng-click="clear()" class="btn btn-primary">Clear</button>
            </div>
        </div>
    </div>
</div>
